  
  .panel-overlay {
    position: relative;
    right: 0; /* Off-screen to the right */
    top: 0px;
    width: 25vw;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    height: 100vh;
    transition: right 1s ease-in-out; /* Animation for sliding */
  }

  .panel-overlay .panel-content {
    color: black; /* Applies to all text elements within the panel content */
  }

  .content-title {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
  }

  .content-subtext {
    font-family: 'Open Sans', sans-serif;
    color: rgb(48, 48, 48);
    font-size: 16px;
    text-align: left;
  }

  .content-description{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
  }

  .content-references-title{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: left;
  }

  .panel-close {
    position: absolute; /* Position the button within the panel */
    top: 10px; /* Adjust top position as desired */
    left: 10px; /* Adjust right position as desired */
    background-color: transparent; /* Remove default background */
    border: none; /* Remove default border */
    cursor: pointer; /* Set cursor to pointer on hover */
    font-size: 18px; /* Adjust font size as desired */
    color: #ccc; /* Adjust color as desired */
  }
  
  .panel-close:hover {
    color: #aaa; /* Change color on hover (optional) */
  }