  
  .panel-overlay {
    position: relative;
    right: 0; /* Off-screen to the right */
    top: 0px;
    width: 25vw;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    height: 95vh;
    transition: right 1s ease-in-out; /* Animation for sliding */
    max-height: 95vh;
  }

  .panel-overlay .panel-content {
    min-height : 95vh;
    max-height: 95vh;
    color: black; /* Applies to all text elements within the panel content */
    overflow-y: auto;
  }

  .search-box { 
    border: none;
    font-size: 10px;
    min-height: 50px;
  }

  .panel-main {
    min-height : 95vh;
    max-height: 95vh;
    color: black; /* Applies to all text elements within the panel content */
    overflow-y: auto;
  }

  .content-title {
    font-family: 'Open Sans', sSans-serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    flex: 1;
    text-align: center;
    margin-top: 20px;
 
  }

  .content-subtext {
    font-family: 'Open Sans', sans-serif;
    color: rgb(48, 48, 48);
    font-size: 16px;
    text-align: left;
  }

  .content-description{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
  }

  .content-references-title{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: left;
  }


  .close-button {
    background: none; /* Remove default button styles */
    border: none;
    padding: 2px; /* Add some padding for spacing */
    cursor: pointer;
    color: #999; /* Dim gray color */
    font-weight: bold;
    text-align: left;
    flex : 1;
    flex-direction: row;
    position: absolute;
    top: 15px; /* Set top position to 10px from the top */
    left: 15px; /* Set left position to 10px from the left */
  }

  .menu-header {
    /* Existing styles... */

    display: flex; /* Allow buttons to sit side-by-side */
    align-items: baseline; /* Align buttons along their baselines */
  }